<% require 'sqlite3' %>
<p>You chose:</p>
<% remaining = 0 %>
<% db = SQLite3::Database.open( "db/development.sqlite3" ) %>

<% db.execute( "SELECT * FROM workouts WHERE id = #{params[:id]}" ) do |row| %>
  <h4>Category: <%= row[3] %></h4>
  <h4>Intensity: <%= row[4] %></h4>
  <h4>Time: <%= row[5] %></h4>
  <%= remaining = row[5].to_i %>
<% end %>

<% db.execute( "SELECT name, intensity_level, time FROM exercises 
                WHERE exercises.category = (SELECT category FROM workouts 
                                           WHERE id = #{params[:id]})" ) do |row| %>
  <%= remaining - row[2] %> 
  <% break if remaining <= 0 %>
<% end %>