<%= @user.name %>, <%= @user.email %><br />
<% if !current_user.nil? %>
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
    <%= link_to "Delete Profile", user_path, method: :delete %>
<% end %>

<p>Workout Log</p>
<br />

<!--@data = Workouts.where(:user_id => @current_user)-->
<!--In your view-->

<!--<table>                         -->
<!--  <tr>                          -->
<!--    <th>field1</th>-->
<!--    <th>field2</th>-->
<!--  </tr>-->
<!--<%# @data.each do |data| %>       #start loop-->
<!--  <tr>-->
<!--    <td><%= #data.field1 %></td>  #column field1 in your database-->
<!--    <td><%= #data.field2 %></td>  #column field2 in your database-->
<!--  </tr>-->
<!--<% #end %>                        #end loop-->
<!--</table>                   -->